.background {
  background-color: #EB6649;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 400px;
  height: 200px;
  background-color: rgba(0,0,0, 0.3);
  color: #FFFFFF;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 6px 6px 8px -5px rgba(0, 0, 0, .2);
}

.inputLabel {
  display: inline-block;
  width: 80px;
  font-size: 12px;
  text-transform: uppercase;
}